body{
    background-color: #5A96E3;
}
.button{
    padding: 20px;
    width: 66PX;
}
.button{
    background-color: #2B2730;
    /* opacity: 0.5; */
    color: white;
    font-size: 18px;
}
.num{
    color: rgb(45, 156, 230);
}
.operator{
   color: pink;
}
.red{
    color: red;
}
.container{
    width: 320px;  
    height: 480px;  
    margin: auto;  
    border: 3px solid black;  
    border-radius: 8px;  
    padding: 20px;  
    margin-top: 1px;
}
.input{
    background-color: #2B2730;
    color:rgb(45, 156, 230);
}
